button {
  color: #212121;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
}

.card-description {
  color: #ffffff;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

.card-name {
  color: #212121;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
